<ul class = "nav nav-tabs">
    <li><a routerLink = "/home">home</a></li>
    <li><a [routerLink] = "['/about']">about</a></li>
    <li><a routerLink = "/contact">contact</a></li>
    <li><a routerLink = "/profile">profile</a></li>
    <li><a routerLink = "/helpdesk">helpdesk</a></li>
    <li><a routerLink = "new/login">login</a></li>
    <li><a routerLink = "/ByProduct">ByProduct</a></li>
    <li><a routerLink = "/comp1">comp1</a></li>
    <li><a routerLink="/Lifecyclehook">LifecyclehookComponent</a></li>
    <li><a routerLink = "/routing">Routing</a></li>
    <li><a routerLink ="/usersdata">userdata</a></li>
    <li><a routerLink = "/child">childroute</a></li>
    <li><a routerLink = "/quaryparam">quaryparam</a></li>
    <li><a routerLink = "/fragment">fragment</a></li>
    <li><a routerLink="/myForm">Form</a></li> 
    <li><a routerLink="/reactiveforms">Reactiveforms</a></li>
    <li><a routerLink = "/pipe">pipe</a></li>
    <li><a routerLink = "/custempipe">custemPipe</a></li>
    <li><a routerLink = "/observables">observables</a></li> 
    <li><a routerLink="dynamic/dynamic">dynamic Comp</a></li>
    <li><a routerLink="confirm/password">password</a></li>
  </ul>
  <app-header></app-header>

  <!-- css -->
  <style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

app-computer{
  background-color: antiquewhite;
  border: 2px solid red;
}
</style>