<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class = "myapp" id = "myapp2">
    <h1>hello angular</h1>
    <h2>{{title}} {{subheading}}  {{for}}</h2>
    <h1>{{getName()}}</h1>
    <p>Name : {{obj.name}}</p>
    <p>ID : {{obj.id}}</p>
    <p>arr: {{arr[2]}}</p>
    <p>sum: {{sum+sum2}}</p>
    <p>mul: {{sum*sum2}}</p>
    <app-login></app-login>
    <app-logout></app-logout>
    <app-registration></app-registration>
    <app-submit></app-submit>
    <app-signin></app-signin>
  </div>
</body>
</html>
