<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <ul class = "nav nav-tabs">
    <li><a routerLink="/home">home</a></li>
    <li><a routerLink="/about">about</a></li>
    <li><a routerLink="/contact">contact</a></li>
    <li><a routerLink="/profile">profile</a></li>
    <li><a routerLink="/helpdesk">helpdesk</a></li>
    <li><a routerLink="/login">login</a></li>
    <li><a routerLink="/ByProduct">ByProduct</a></li>
    <li><a routerLink="/Lifecyclehook">LifecyclehookComponent</a></li>
    <li><a routerLink = "/routing">Routing</a></li>
    <li><a routerLink ="/usersdata">userdata</a></li>

    
  </ul>
     <router-outlet></router-outlet>
<!-- <app-user1></app-user1> -->
  <!-- <app-host-listener></app-host-listener>
 -->
  <!-- <app-employee></app-employee> -->
  <!-- <app-user2></app-user2>
<app-user1></app-user1>, -->

</body>
</html>