<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <ul class = "nav nav-tabs">
    <li><a routerLink="/home">home</a></li>
    <li><a [routerLink]="['/about']">about</a></li>
    <li><a routerLink="/contact">contact</a></li>
    <li><a routerLink="/profile">profile</a></li>
    <li><a routerLink="/helpdesk">helpdesk</a></li>
    <li><a routerLink="/login">login</a></li>
    <li><a routerLink="/ByProduct">ByProduct</a></li>
    <li><a routerLink="/Lifecyclehook">LifecyclehookComponent</a></li>
    <li><a routerLink = "/routing">Routing</a></li>
    <li><a routerLink ="/usersdata">userdata</a></li>
    <li><a routerLink = "/child">childroute</a></li>
    <li><a routerLink = "/quaryparam">quaryparam</a></li>
    <li><a routerLink = "/fragment">fragment</a></li>
    <li><a routerLink = "/myForm">Form</a></li>
    <li><a routerLink = "/reactiveforms">Reactiveforms</a></li>
  </ul>

  <!-- <app-fragment></app-fragment> -->
<!-- <app-templateforms></app-templateforms> -->

  <router-outlet></router-outlet>
     <!-- <router-outlet></router-outlet>
     <app-queryparam></app-queryparam> -->
<!-- <app-user1></app-user1> -->
  <!-- <app-host-listener></app-host-listener>
 -->
  <!-- <app-employee></app-employee> -->
  <!-- <app-user2></app-user2>
<app-user1></app-user1>, -->


<!-- <app-viewchild [name] = "data"></app-viewchild> -->
<!-- <app-viewchild (newEven)  = "fun($event)"></app-viewchild> -->
<!-- <app-static-data></app-static-data> -->


</body>
</html>