<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <ul class = "nav nav-tabs">
    <li><a routerLink="/home">home</a></li>
    <li><a routerLink="/about">about</a></li>
    <li><a routerLink="/contact">contact</a></li>
    <li><a routerLink="/profile">profile</a></li>
    <li><a routerLink="/helpdesk">helpdesk</a></li>
    <li><a routerLink="/login">login</a></li>
    <li><a routerLink="/ByProduct">ByProduct</a></li>
    <li><a routerLink="/Lifecyclehook">LifecyclehookComponent
</a></li>

  </ul>
   <router-outlet></router-outlet>
</body>
 </html>